<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
	<link rel="icon" type="image/png" href="img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Whosn - The quickest way to find out who's in!</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />

	<!-- CSS Files -->
	<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/lib/material-kit/assets/css/material-kit.css" rel="stylesheet" />
	<style>
		.datepicker{z-index:1151 !important;}
	</style>
</head>

<body>

	<!-- navbar -->
	<% include ./partials/navbar %>
		<!-- /navbar -->

		<div class="wrapper">
			<div style="height: 150px">

			</div>

			<div class="main main-raised">
				<div class="container">

					<div class="row">
						<div class="col-xs-8">
							<h2>Events</h2>
						</div>
						<div class="col-xs-4">
							<button class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="float: right; margin-top:25px">
			          Create Event
			        </button>
						</div>

					</div>



					<table class="table">
						<thead>
							<tr>
								<th>Event</th>
								<th>Location</th>
								<th>Date</th>
								<th>Time</th>
							</tr>
						</thead>
						<tbody>
							<% for(var i=0; i<events.length; i++){ %>
								<tr>
									<td>
										<a href="/events/<%=events[i].id%>">
											<%=events[i].name%>
										</a>
									</td>
									<td>
										<%=events[i].location%>
									</td>
									<td>
										<%=events[i].date%>
									</td>
									<td>
										<%=events[i].time%>
									</td>
								</tr>
								<% } %>
						</tbody>
					</table>
				</div>
			</div>
			<!-- footer -->
			<% include ./partials/footer %>
				<!-- /footer -->

				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
								<h4 class="modal-title">Create New Event</h4>
							</div>
							<div class="modal-body">
								<form action="/events/create" method="post">
									<div class="col-sm-6">
										<div class="form-group label-floating">
											<label class="control-label">Name</label>
											<input name="name" type="text" class="form-control">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group label-floating">
											<label class="control-label">Location</label>
											<input name="location" type="text" class="form-control">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group label-floating">
											<label class="control-label">Date</label>
											<!-- <input name="time" type="text" class="form-control"> -->
											<% var date = new Date(); %>
											<% var n = date.toLocaleDateString(); %>

											<input name="date" class="datepicker form-control" type="text" value="<%=n%>" data-date-format="m/d/yyyy";/>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group label-floating">
											<label class="control-label">Time</label>
											<div style="height:28px; padding-top:8px; margin-top:1px;">
											<select name="hour">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6" selected="selected">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
											</select>:
											<select name="min">
												<option value="00">00</option>
												<option value="05">05</option>
												<option value="10">10</option>
												<option value="15">15</option>
												<option value="20">20</option>
												<option value="25">25</option>
												<option value="30" selected="selected">30</option>
												<option value="35">35</option>
												<option value="40">40</option>
												<option value="45">45</option>
												<option value="50">50</option>
												<option value="55">55</option>
											</select>
											<select name="ampm">
												<option value="am">am</option>
												<option value="pm" selected="selected">pm</option>
											</select>
										</div>

									</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group label-floating">
											<label class="control-label">Creator</label>
											<input name="creator" type="text" class="form-control">
										</div>
									</div>
									<input class="btn btn-simple btn-success" type="submit" style="width: 100%" value="Create" />
								</form>
							</div>
						</div>
					</div>
				</div>

</body>
<!-- bottom -->
<% include ./partials/bottom %>
	<!-- /bottom -->
