<!DOCTYPE html>
<html lang="en">

<!-- head -->
<% include ./partials/head %>
  <!-- /head -->

  <body>

    <!-- navbar -->
    <% include ./partials/navbar %>
      <!-- /navbar -->

            <div class="wrapper">
              <div style="height: 150px">

              </div>

              <div class="main main-raised">
                <div class="container">
                  <h2><%=event.name%></h2>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Event Information</h3>
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item">
                        <b>Id:</b>
                        <%=event.id%>
                      </li>
                      <li class="list-group-item">
                        <b>Name:</b>
                        <%=event.name%>
                      </li>
                      <li class="list-group-item">
                        <b>Location:</b>
                        <%=event.location%>
                      </li>
                      <li class="list-group-item">
                        <b>Event:</b>
                        <%=event.time%>
                      </li>
                      <li class="list-group-item">
                        <b>Creator:</b>
                        <%=event.creator%>
                      </li>
                    </ul>
                  </div>

                  <hr>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Responses</h3>
                    </div>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>I/O</th>
                          <th>Comments</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i<event.participants.length; i++){ %>
                          <tr>
                            <td>
                              <%=event.participants[i].name%>
                            </td>
                            <td>
                              <%=event.participants[i].io%>
                            </td>
                            <td>
                              <%=event.participants[i].comments%>
                            </td>
                          </tr>
                          <% } %>
                      </tbody>
                    </table>
                  </div>
                  <hr>

                  <h4>Add Response</h4>
                  <form action="/events/respond/<%=event.id%>" method="post">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Name</span>
                      <input name="name" type="text" class="form-control" aria-describedby="basic-addon1">
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">In/Out</span>
                      <input name="io" type="text" class="form-control" aria-describedby="basic-addon1">
                    </div>
                    <br>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">Comments</span>
                      <input name="comments" type="text" class="form-control" aria-describedby="basic-addon1">
                    </div>
                    <br>
                    <input class="btn btn-primary" type="submit" style="width: 100%" value="Create" />
                  </form>
                </div>
              </div>

        <!-- footer -->
        <% include ./partials/footer %>
          <!-- /footer -->

      </div>

  </body>
