<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
	<link rel="icon" type="image/png" href="img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Whosn - The quickest way to find out who's in!</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />

	<!-- CSS Files -->
	<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/lib/material-kit/assets/css/material-kit.css" rel="stylesheet" />

</head>

  <body>

    <!-- navbar -->
    <% include ./partials/navbar %>
      <!-- /navbar -->

      <div class="wrapper">
        <div style="height: 150px">

        </div>

        <div class="main main-raised">
          <div class="container">
            <h2>Events</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>What</th>
                  <th>Where</th>
                  <th>When</th>
                  <th>Creator</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i<events.length; i++){ %>
                  <tr>
                    <td>
                      <a href="/events/<%=events[i].id%>">
                        <%=events[i].name%>
                      </a>
                    </td>
                    <td>
                      <%=events[i].location%>
                    </td>
                    <td>
                      <%=events[i].time%>
                    </td>
                    <td>
                      <%=events[i].creator%>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Create New Event</h3>
              </div>
              <form action="/events/create" method="post">
                <div class="col-sm-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Name</label>
                    <input name="name" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Location</label>
                    <input name="location" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Time/Date</label>
                    <input name="time" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Creator</label>
                    <input name="creator" type="text" class="form-control">
                  </div>
                </div>
                <input class="btn btn-success" type="submit" style="width: 100%" value="Create" />
              </form>
            </div>

          </div>
        </div>
        <!-- footer -->
        <% include ./partials/footer %>
          <!-- /footer -->

  </body>

  <!-- bottom -->
  <% include ./partials/bottom %>
    <!-- /bottom -->
